.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_1 {
    color: blue
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-size: 1.125em;
    line-height: 1.2
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }