.blockf {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 0.5em 0 0.5em 2em
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 0.5em 0
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 2em 0%
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 2em 0%
    }
.calibre7 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre10 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre13 {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 2em 0 2em 0%
    }
.calibre14 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0
    }
.calibre15 {
    height: auto;
    width: auto
    }
.calibre16 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre17 {
    display: table-row;
    vertical-align: middle
    }
.calibre18 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.center {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 0.5em 0%
    }
.fontsize {
    font-size: 0.8em
    }
.fontsize1 {
    font-size: 0.8em;
    line-height: 1.2
    }
.fontsize2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.8em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 0.5em 0
    }
.front {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 1em 0%
    }
.i {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    width: 80%;
    margin: 0.5em auto
    }
.i1 {
    height: auto;
    width: 100%;
    margin: auto
    }
.imgl {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0 0.5em 0%
    }
.imz {
    height: 96%;
    text-align: center;
    width: auto
    }
.inline {
    height: 5em;
    vertical-align: top;
    width: auto
    }
.left {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0% 0.5em 2em
    }
.left1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0%
    }
.left2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.8em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0% 0.5em 9em
    }
.note {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.6em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 0.5em 0
    }
.right {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 2em;
    margin: 0.5em 0 0.5em 0%
    }
.softbreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    page-break-before: avoid;
    text-align: center;
    text-indent: 2em;
    margin: 0.5em 0
    }
.whitespace {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 2em;
    margin: 0.5em 0
    }
